<div class="container" th:fragment="form(requisicaoFormAgendamento, action)">
    <div class="row">
        <form th:object="${requisicaoFormAgendamento}" th:action="${action}" method="POST">

            <div class="mb-3">
                <label class="form-label">Nome do Pet</label>
                <select class="form-select" th:field="*{pet.idpet}">
                    <option th:each="pet : ${pet}"
                            th:value="${pet.idpet}" th:text="${pet.nome}"></option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Nome do Serviço</label>
                <select class="form-select" th:field="*{servico.idservico}">
                    <option th:each="servico : ${servico}"
                            th:value="${servico.idservico}" th:text="${servico.nome}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Data</label>
                <input class="form-control"  placeholder="31/12/2023" onkeypress="$(this).mask('00/00/0000');" maxlength="10" minlength="10" th:errorclass="is-invalid" type="text" th:field="*{dataa}">
                <div class="invalid-feedback" th:errors="*{dataa}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Hora</label>
                <input class="form-control"  placeholder="00:00" onkeypress="$(this).mask('00:00');" maxlength="5" minlength="5" th:errorclass="is-invalid" type="text" th:field="*{hora}">
                <div class="invalid-feedback" th:errors="*{hora}"></div>
            </div>
            <button class="btn btn-primary" type="submit">Submeter</button>
            <a href="javascript:history.back()" class="btn btn-link btn-lg active" role="button" aria-pressed="true">Voltar</a>
        </form>
    </div>
</div>