<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: head('Editar Pet')}"></head>

<body>
<header th:replace="~{fragmentos :: header}" ></header>
<div class="container mt-2 mb-2">
    <h1>Editar Pet</h1>
</div>

<div th:replace="~{funcionario/pet/fragmentos :: form(requisicaoFormPet, '/funcionario/pet/' + ${idpet})}">
    Formulário!
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>